<h1>{{ title }}</h1>

<h2> Post request + Redirect </h2>
<form action="test/submit" method="post">
  <input type="text" name="id">
  <button type="submit">Submit</button>
</form>

<h2>Post</h2>
<form action="insert" method="post">
  Origin: <input type="text" name="origin"><br>
  Destination:  <input type="text" name="destination">
  <button type="submit"> Submit </button>
</form>

<h2>Past Posts</h2>
<form action="get-data" method="get">
  <button type="submit"> Get Data </button>
</form>

{{#each rides}}
  ID: {{this._id}}<br>
  {{this.origin}} --> {{this.destination}} <br>
  <br>
{{/each}}

<h2>Update</h2>
<form action="update" method="post">
  ID: <input type="text" name="id"><br>
  Origin: <input type="text" name="origin"><br>
  Destination:  <input type="text" name="destination">
  <button type="submit"> Submit </button>
</form>

<h2>Delete</h2>
<form action="delete" method="post">
  ID: <input type="text" name="id">
  <button type="submit"> Submit </button>
</form>
